body, html {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  background: url("https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.landingPage{
	height: 100vh;
  background: url("https://i.makeagif.com/media/10-22-2015/PRJuvO.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
}

/*NAVIGATION BAR*/
.navbar{
  background-color: #2F4F4F; /* For browsers that do not support gradients */
  background-image: linear-gradient(#26272b); /* Standard syntax (must be last) */
  opacity: 3;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}


/*animation below landing page*/
.ani{
  font-size: 28px;
  font-family: arial;
  color: white;
}
#retype{
  color: white;
  border-right: solid 0.1em #333377;
}

.landingText{
  font-size: 60px;
  text-align: center;
}

.hero-dp{
  border-radius: 50%;
}

/*Button on Landing Page*/
.button {
  background-color: Transparent;
  border: 2px solid white;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 50px;
  width: 210px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\261F';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:hover{
    background-color: #778899;
    border: none;
}


/*Download CV Button*/
.buttonCV {
  background-color:  #26272b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 50px;
  width: 220px;
}

.buttonCV span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonCV span:after {
  content: ' >>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonCV:hover span {
  padding-right: 25px;
}

.buttonCV:hover span:after {
  opacity: 1;
  right: 0;
}

/*ABout Page-------------------------------------------*/
.AboutPageDiv{
  height: auto;
  /*background: url("");*/
  /*background: #D3D3D3;*/
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#C0C0C0,#2F4F4F); /* Standard syntax (must be last) */
  opacity: .8;
  filter: alpha(opacity=50); /* For IE8 and earlier */

}

/*SKILL PAGE*/
.SkillPageDiv{
  height: 60vh;
  background: #F5F5F5;

  
}
.img-card {
  transition: transform .2s;
}

.img-card:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2); 
}


/*Project Section*/
.ProjectPageDiv{
  background: url("https://images.unsplash.com/photo-1549805932-a2cc5b7d6653?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
  background-image: linear-gradient(#C0C0C0,#2F4F4F); /* Standard syntax (must be last) */
  opacity: .7;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.containerX {
  position: relative;
  height: 350px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  transition: box-shadow 0.3s ease-out;
  border: solid 3px;
}

.containerX:hover {
  box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
}

.img-container {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
}

.img-container:hover {
    cursor: pointer;
}

.containerX:hover .img-container {
    transform: translateY(-100px);
}

.img-container > img {
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-out;
}

.containerX:hover > .img-container > img {
  opacity: 0.5;
}

.social-media {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: 0;
  padding: 0;
}

.social-media > li {
  list-style: none;
}

.social-media > li > a {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #FFF;
  text-align: center;
  color: #262626;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.3s ease-out;
}

.containerX:hover > .social-media > li > a {
  transform: translateY(0);
  opacity: 1;
}

.social-media > li > a > .fa {
  font-size: 24px;
  line-height: 50px;
  transition: transform 0.3s ease-out;
}

.social-media > li > a:hover > .fa {
  transform: rotateY(360deg);
}

.containerX:hover .social-media li:nth-child(1) a {
    transition-delay: 0s;
}

.containerX:hover .social-media li:nth-child(2) a {
    transition-delay: 0.1s;
}

.containerX:hover .social-media li:nth-child(3) a {
    transition-delay: 0.2s;
}

.containerX:hover .social-media li:nth-child(4) a {
    transition-delay: 0.3s;
}

.containerX:hover .social-media li:nth-child(5) a {
    transition-delay: 0.4s;
}

.user-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center
}

.user-info > h2 {
  padding: 0;
  margin: 10px 0;
}

.user-info > span {
  color: #262626;
  font-size: 16px;
}
/*HR TAG*/
.hrTag {
  border:none;
  height: 20px;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 15px 15px -20px #333;
  margin: -50px auto 10px; 
}


/*CONTACT PAGE SECTION CSS-------------------------------------------*/
.ContactPageDiv{
  height: auto;
  /*background: url("https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");*/
  background: #F5F5F5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.fab {
  padding: 20px;
  font-size: 40px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  transition: transform .2s;
}
.fab:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 6px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
textarea{
  width: 100%;
  padding: 6px;
  display: inline-block;
  border: none;
  background: #f1f1f1;

  background-color: #ddd;
  outline: none;

}
.sendbtn {
  background-color: #778899;
  float: left;
  width: 100%;
  padding: 14px 20px;
  font-weight: bold;
}

/*footer------------------------*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.gitlab:hover
{
  background-color:#FF4500
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* Portrait and Landscape */
@media (device-width: 360px) 
 {
  .fHP{
    text-align: center;
    align-items: center;
  }
}